<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notarize Me</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="path/to/react.js"></script>
    <script src="path/to/react-dom.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .dark-mode { background-color: #111531; color: #668CC2; }
    </style>
  </head>
    

  <body class="bg-white text-#B6B9CE dark-mode">
    <button class="bg-white" id="toggleDarkMode">X</button>

    <script>
      const toggleDarkModeBtn = document.getElementById('toggleDarkMode'); const
      body = document.body; toggleDarkModeBtn.addEventListener('click', () => {
      body.classList.toggle('dark-mode'); });
    </script>
{{!-- <-- start of main nav bar --> --}}
     <img src="/images/Logo2.jpeg" alt="NotarizeMe Logo" class="logo" />
    <a
      class="navbar-brand ml-2 font-bold flex justify-center text-5xl "
      
    >Notarize Me</a>
    <nav class="flex justify-center items-center bg-danger py-4">
      <ul class="flex space-x-4">
        <li><a href="/">Home |</a></li>
        <li><a href="#">Search |</a></li>
        <li><a href="#">Journal |</a></li>
        <li><a href="#">Report |</a></li>
      </ul>
      <button class="btn ml-2" id="logout">Logout</button>
    </nav>
    <!-- end of main navigation bar -->
    
    <body>
      {{{body}}}
    </body>

  </body>
</html>